.content {
    &.style1 {
      background-color: red;
      color: white;
    }
  
    &.style2 {
      background-color: blue;
      color: white;
    }
  }
  
  .calculator {
    width: 350px;
    margin: auto;
    background-color: #555;
    border-radius: 5px;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.25);
    padding: 10px;
  }
  
  .display {
    background-color: #fff;
    color: #333;
    font-size: 36px;
    text-align: right;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
  }
  
  .key-row {
    display: flex;
  }
  
  .key {
    width: 70px;
    height: 70px;
    font-size: 24px;
    color: #fff;
    background-color: #999;
    margin: 5px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .key.operation {
    background-color: #ff8c00;
  }
  
  .key.equals {
    background-color: #3db3f7;
  }
  
  .key:focus {
    outline: none;
  }
  
  .key:active {
    transform: translateY(3px);
    box-shadow: none;
  }
  