.calculator {
  width: 350px;
  margin: auto;
  background-color: #000;
  border-radius: 5px;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.25);
  padding: 10px;
}

.display {
  background-color: #333;
  color: #fff;
  font-size: 36px;
  text-align: right;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
}

.key-row {
  display: flex;
  flex-wrap: wrap;
}

.key {
  width: 70px;
  height: 70px;
  font-size: 24px;
  color: #fff;
  background-color: #303030;
  margin: 5px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  font-family: 'Montserrat', sans-serif;
}

.key.operation {
  background-color: #ff8c00;
}

.key.equals {
  background-color: #3db3f7;
}

.key:focus {
  outline: none;
}

.key:hover {
  background-color: #fff;
  color: #333;
}

.key:active {
  transform: translateY(3px);
  box-shadow: none;
}